**/node_modules
**/yarn-error.log

server/dist
server/coverage

mobile/.expo/*
mobile/npm-debug.*
mobile/*.jks
mobile/*.p8
mobile/*.p12
mobile/*.key
mobile/*.mobileprovision
mobile/*.orig.*
mobile/web-build/

mobile/.DS_Store